body {
	min-height: 95vh;
	display: flex;
	justify-content: center;
	background-image: url('/vivian/content/img/fondo-login.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	align-items: center;
}

main {
	display: flex;
	font-family: 'Candara Light';
}

form {
	box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 1em 0;
	width: 50vh;
	margin: auto;
}

main form:last-child {
	box-shadow: 0 0 30px 10px rgba(0, 0, 0, 1);
	margin: 1em auto;
}

.group {
	width: 80%;
	margin: 2em auto;
}

.group:nth-child(5) a {
	margin: 1em 0;
	display: block;
	cursor: pointer;
	color: red;
}

label {
	color: white;
	margin: 10px 0;
	display: block;
}

input {
	font-family: 'Candara Light';
	color: rgb(220, 220, 220);
	padding: 0.5em 1em;
	outline: none;
	width: 90%;
	text-indent: 10px;
	border-radius: 15px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	background-color: rgba(191, 191, 191, 0.3);
	transition: box-shadow 250ms;
}

.group button {
	border-radius: 20px;
	cursor: pointer;
	padding: 0.5em 1.3em;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.1);
	color: #ccc;
	font-family: Candara Light;
	transition-property: box-shadow, color;
	transition-duration: 300ms;
}

.group button:hover {
	color: #fff;
	box-shadow: 0 0 5px 1px gray;
	transition-property: box-shadow, color;
	transition-duration: 300ms;
}