main {
    width: 100%;
}

label {
    display: block;
    margin: 1em;
}

#text-svg > fieldset {
    font-family: 'Candara Light';
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 60%;
    margin: 1em 0;
}

#starring {
    position: sticky;
    padding: 0.5em;
    z-index: 20;
    top: 0;
    display: flex;
    border-radius: 10px;
    color: #eee;
    width: 20%;
    margin: -3em auto 1em auto;
    background-color: var(--color-DarkNavy);
}

#img-starring {
    align-self: center;
    width: 20%;
    margin: auto;
}

#general-context-creators {
    width: 90%;
    margin: 1em auto;    
    min-height: 500px;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.gcc #fake-svg {
    background-color: rgba(0, 0, 0, 0.0500);
    min-height: 300px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    display: flex;
}

#img-svg {
    width: 30%;
    margin: 1em auto;
}

#text-svg {
    text-align: left;
    font-family: 'Chilanka';
    align-self: center;
    width: 50%;
    margin: 1em;
}

#fake-svg img {
    width: 100%;
}


/* -- */

#fs-creators {
    width: 80%;
    margin: auto;
    padding: 1em 0;
}

#fs-creators fieldset {
    font-family: 'Candara Light';
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 1em 0;
}

#fs-creators fieldset legend {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.list2 {
    display: flex;
}

.creators {
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 30%;
    margin: 1em auto;
    padding: 1em;
    border-radius: 5px;
}

.creators:hover {
    border: 1px solid rgba(0, 0, 0, 0.4);
}

name {
    font-family: 'Chilanka';
}

dd {
    margin-top: 1em;
}

#fs-creators hr {
    border-style: groove;
}