html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Candara Light';
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    overflow-x: hidden;
}

#img-error {
    align-self: center;
    text-align: center;
    width: 35%;
    margin: 1em auto;
}

#error-title {
    font-family: Candara;
    margin: 1em;
    font-size: 3em;
}

#img-error img {
    width: 80%;
    margin: auto;
    user-select: none;
    pointer-events: none;
    vertical-align: middle;
}

a {
    transition: all 0.3s;
    width: 20%;
    display: block;
    margin: 1em auto;
    padding: 0.5em;
    border-radius: 5px;
    text-decoration: none;
    list-style: none;
    color: white;
    background-color:#F50004;
}

a:hover {
    background-color:#a90003;
}