#central main {
    width: 90%;
    margin: 1em auto;
    min-height: 200px;
    border-radius: 15px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}

#central #separador {
    filter: invert(0.7) sepia(100%) hue-rotate(300deg);
    width: 50%;
    margin: 2em auto;
    padding-top: 2em;
}

#central #contexto {
    width: 90%;
    margin: auto;
}

#central .pregunta {
    margin: 2em 2em 0;
    font-family: 'Chilanka';
}

#central .pregunta:last-child {
    padding-bottom: 2em;
    margin-bottom: 2em;
}

#central .pregunta .titulo {
    display: list-item;
    font-weight: bolder;
    font-size: 20px;
}

#central .pregunta .respuesta {
    width: 90%;
}

#central .pregunta li {
	list-style: square !important;
}