h1 {
    font-family: Chilanka;
    padding: 0.7em 0.5em;
}

p {
    font-family: Chilanka;
    margin: 1em;
    padding: 0.5em 0;
}

button {
	cursor: pointer;
	border-radius: 10px;
    padding: 0.5em 1em;
    border: 0;
    background-color: bisque;
}

.button-danger {
    background-color: firebrick;
    color: beige;
}

hr {
    margin: 0;
    border-color: rgb(255, 225, 196);
}

main {
    width: 100vh !important;
    margin: 1em calc(50% - 50vh) !important;
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.2) !important;
    border-radius: 10px !important;
}

#main {
    display:flex;
}

form {
    width: 80% !important;
    margin: 10px auto !important;
}

label {
    display: block;
}

#profile-general { 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#profile-general {
    background-color: rgb(255, 229, 204);
    width: 40%
}

#profile-general #imagen, #profile-general #perfil {
    width: 50%;
    margin: 1em auto;
}

#perfil p {
    font-size: 2em;
}

#profile-information {
    width: 60%;
}

#profile-information #comentarios {
    background-color: rgb(255, 229, 204);
    border-top-right-radius: 10px;

}

.group {
    font-family: Candara;
    margin: 1.5em auto;
}

label {
    font-family: 'Chilanka', Candara;
    margin: 0.5em 0;
}

input {
	color: gray;
	text-indent: 1em;
    width: 90%;
    padding: 0.5em;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: box-shadow 300ms;
}

input:invalid:focus {
    box-shadow: 0 0 10px 1px #dc143c6f;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: box-shadow 250ms;
}

input:valid:focus {
    transition: box-shadow 250ms;
    box-shadow: 0 0 10px 1px #14dcbea1;
    border: 1px solid rgba(0, 0, 0, 0);
}